[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "symbolicai"
dynamic = ["version"]
authors = [
    {name = "Marius-Constantin Dinu", email = "office@alphacoreai.eu"},
]
description = "A Neuro-Symbolic Framework for Python"
readme = "README.md"
requires-python = ">=3.7"
keywords = ["symbolic programming", "machine learning"]
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
]
dependencies = [
    "setuptools==67.7.2", "natsort==8.3.1", "numpy==1.24.3", "tqdm==4.65.0", "python-box==7.0.1", "rpyc==5.3.1", "pandas==2.0.2",
    "scikit-learn==1.2.2", "torch>=2.0.0", "torchaudio==2.0.1", "torchvision>=0.15.0", "PyYAML==6.0", "transformers==4.30.1", "sympy==1.12",
    "openai==0.27.8", "PyPDF2==3.0.1", "ipython==8.14.0", "accelerate==0.20.3", "sentencepiece==0.1.99",
    "tiktoken==0.3.3", "tika==2.6.0"
]

[project.optional-dependencies]
wolframalpha = ["wolframalpha==5.0.0"]
whisper = ["symai-whisper"]
selenium = ["selenium==4.10.0", "webdriver-manager==3.8.6", "chromedriver-autoinstaller==0.4.0", "beautifulsoup4==4.12.2"]
google = ["google-search-results==2.4.2"]
pinecone = ["pinecone-client==2.2.2"]
all = ["wolframalpha==5.0.0", "symai-whisper", "selenium==4.10.0", "webdriver-manager==3.8.6", "chromedriver-autoinstaller==0.4.0", "beautifulsoup4==4.12.2", "google-search-results==2.4.2", "pinecone-client==2.2.2"]

[tool.setuptools.dynamic]
version = {attr = "symai.SYMAI_VERSION"}

[tool.setuptools.package-data]
"*" = ["*.json"]

[tool.setuptools.packages.find]
include = ["symai"]
exclude = ["tests", "examples", "notebooks", "outputs", "assets"]

[project.urls]
"Homepage" = "https://alphacoreai.eu/"
"GitHub" = "https://github.com/Xpitfire/symai"

[project.scripts]
symchat = "symai.chat:run"
symsvr = "symai.nesy_server:run"
symclient = "symai.nesy_client:run"
symsh = "symai.shell:run"
