{% if suppress_verbose_output or response_format_type %}
<meta_instruction>
{{ manifest.chat.non_verbose_instruction }}
</meta_instruction>

{% endif %}
{% if response_format_type %}
<response_format>
<type>{{ response_format_type }}</type>
{% if response_format_type == "json_object" %}
<instruction>{{ manifest.chat.json_response_instruction }}</instruction>
{% endif %}
</response_format>

{% endif %}
{% if static_context or dynamic_context or payload %}
<context>
{% if static_context %}
<static>
{{ static_context }}
</static>

{% endif %}
{% if dynamic_context %}
<dynamic>
{{ dynamic_context }}
</dynamic>

{% endif %}
{% if payload %}
<additional>
{{ payload }}
</additional>

{% endif %}
</context>

{% endif %}
{% if examples %}
<examples>
{{ examples }}
</examples>

{% endif %}
{% if prompt %}
<instruction>
{{ prompt }}
</instruction>

{% endif %}
{% if template_suffix %}
<template_suffix>
<placeholder>{{ template_suffix }}</placeholder>
<instruction>{{ manifest.chat.template_suffix_instruction }}</instruction>
</template_suffix>

{% endif %}
