toml==0.10.2
sphinx>=8.0.2
sphinx-autodocgen==1.3
sphinx-rst-builder==0.0.3
sphinx-book-theme==1.1.3
autodoc-pydantic==2.2.0
sphinx-code-include==1.4.0
myst-parser==4.0.0
myst-nb==1.1.1
symbolicai[all]