toml==0.10.2
sphinx==4.5.0
sphinx_panels==0.6.0
sphinx-autodocgen==1.3
sphinx-rst-builder==0.0.3
sphinx-book-theme==1.0.1
autodoc-pydantic==1.8.0
sphinx-code-include==1.1.1
myst_parser==0.18.1
myst-nb==0.17.2
autodoc-pydantic
symbolicai[all]